*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
}
ul
{
margin: 268px;
padding:108px;
  
}
.var_nav
{
position:relative;
width:90px;
height:50px;
margin: bottom 5px;
}
.link_bg
{
    padding-bottom: 20px;
    margin-top: 20px;
    width:0px;
    position:absolute;
    background:red;
    color:#fff;
    z-index:1;
    
}

 
}
.link_title
{
width:100%;
color:#fff;
}

.var_nav:hover .link_bg 
{
width:100%;
background:red;
transition: 0.8s ;
transform: scaley(1);
  transform-origin:20 100%;
 
}
.var_nav:after
{
  display:block;
  content: '';
  border-bottom: solid 3px rgb(197, 7, 7);  
  transform: scaleX(0);  
  transition: transform 1s ease-in-out;
  transform-origin:100% 50%
}

a{
display:block;
position:absolute;
font-family:arial;
color:#fff;
text-decoration:none;
width:100%;
height:70px;
text-align:center;
}
a:before {
    content: "";
    position: absolute;
    background-color: rgb(0, 255, 42);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 25px;
    
    transition: all 0.3s ease-in-out;
    animation: infinite;
    
    }
    
  
    
    
    a:hover:before {
        width: 100%;
        
  visibility: visible;
  width: 100%;

        
    }
span
{
margin-top:25px;
display:block;
}